* {
    background-color: rgb(28, 28, 28);
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

canvas {
    border-bottom: transparent;
    background: url('./img/bkg.png') repeat;
    margin: 0 auto;
    display: block;
}